body {
  margin: auto;
  border: 10px solid transparent;
  padding: 15px;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url('border.png') 20% round;
  width: 50%;

}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

html {
  text-align: center;
}